/* common */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn_general{
    padding: 8px 10px;
    border-radius: 20px;
    background-color: green;
}

/* header_up */
.header_up{
    background-color: #000;
    padding: 8px 0px;
}
.sony_logo img{
    width: 100px;
}

/* header_down */
.bg-light {
    background-color: #fff!important;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.dropdown-toggle::after{
    color: rgba(0, 0, 0, 0.3);
}
.btn_navbar{
    background-color: #363636;
    color: white;
    margin-left: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.d-flex i{
    font-size: 30px;
    color: #363636;
    margin-left: 20px;
}
