/* common */
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
main{
    margin-top: 116px;
}
.btn_general{
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}

/* header_up */
.header_up{
    background-color: #000;
    padding: 8px 0px;
}
.sony_logo img{
    width: 100px;
}

/* header_down */
.bg-light {
    background-color: #fff!important;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.dropdown-toggle::after{
    color: rgba(0, 0, 0, 0.3);
}
.btn_navbar{
    background-color: #363636;
    color: white;
    margin-left: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.d-flex i{
    font-size: 30px;
    color: #363636;
    margin-left: 20px;
}

/* hero */
.img_hero_back{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.descr_games{
    padding: 300px 0 30px 30px;
}
.descr_games img{
    width: 150px;
}

.descr_games h1,
.descr_games p{
    color: white;
    margin-top: 20px;
}
.bnt_hero{
    background-color: #cd3d0f;
    color: white;
    margin-top: 15px;
}
.game_card{
    margin: 30px 15px 15px 20px;
    border-radius: 20px;
    overflow: hidden;
}
.game_card img{
    width: 100%;
}

/* console */
.color_blue{
    color: #0474ce;
    margin-bottom: 3px;
}
#console{
    margin-top: 70px;
}
h2{
    margin-bottom: 30px;
}
.btn_console{
    background-color: #2d64e6;
    color: white;
    margin-top: 15px;
}
.img_console img{
    width: 100%;
}
.text_center{
    display: flex;
    align-items: center;
}
.text_console{
    padding-left: 70px;
}
.img_small_console{
    padding: 30px;
    text-align: center;
}
.img_small_console img{
    width: 100%;
}

/* new game */
.img_new_entry{
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.descr_new_entry{
    padding: 300px 0 30px 30px;
}
.descr_new_entry h2,
.descr_new_entry p{
    color: white;
    margin-top: 20px;
}
.bnt_new_entry{
    background-color: #cd3d0f;
    color: white;
    margin-top: 15px;
}
.descr_new_entry img{
    width: 200px;
}

/* list new entry */
#list_new_entry{
    background-color: #1f1f1f;
    padding: 30px;
}
.text_list_new_entry{
    color: white;
}
.text_list_new_entry h4{
    margin-top: 20px;
}
.card_list_new_entry{
    border-radius: 20px;
    overflow: hidden;
    color: white;
}
.card_list_new_entry img{
    width: 100%;
}
.card_list_new_entry p{
    margin-top: 10px;
}

/* esplora */
.fa-registered{
    font-size: 10px;
    vertical-align: text-top;
}
#esplora{
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0 10px;
}
.card_ps4 img{
    width: 100%;
}
.card_ps4{
    padding-left: 20px;
}

/* ps_plus */
#ps_plus{
    background-color: #bebcbb;
    padding: 0 30px;
    margin: 80px 0;
}
.text_ps_plus{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.box_text_plus img{
    width: 250px;
}
.box_text_plus p{
    margin: 60px 0 40px 0;
}
.img_ps_plus img{
    width: 100%;
}
.btn_plus{
    background-color: #d9dadc;
    color: #2d64e6;
}

/* scount */
.img_scount img{
    width: 100%;
}

/* ps_now */
#ps_now{
    background-color: #161c3b;
    padding: 0 30px;
    margin: 80px 0;
}
.text_ps_now{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.box_text_now img{
    width: 250px;
}
.box_text_now p{
    margin: 60px 0 40px 0;
    color: white;
}
.img_ps_now img{
    width: 100%;
}
.btn_now{
    background-color: #d9dadc;
    color: #161c3b;
}

/* social */
.img_social{
    margin: 40px 0;
}
.img_social img{
    width: 100%;
}









@media screen and (max-width: 768px){

    /* console */
   .text_console{
       text-align: center;
       margin-top: 80px;
       width: 100%;
       padding: 0;
   }
   
   /* plus */
   .img_ps_plus{
       display: none;
   }

   /* now */
   .img_ps_now{
       display: none;
   }
}






