/* common */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn_general{
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
}

/* header_up */
.header_up{
    background-color: #000;
    padding: 8px 0px;
}
.sony_logo img{
    width: 100px;
}

/* header_down */
.bg-light {
    background-color: #fff!important;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.dropdown-toggle::after{
    color: rgba(0, 0, 0, 0.3);
}
.btn_navbar{
    background-color: #363636;
    color: white;
    margin-left: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.d-flex i{
    font-size: 30px;
    color: #363636;
    margin-left: 20px;
}

/* section hero */
.img_back{
    display: flex;
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.descr_games{
    padding: 270px 0 30px 30px;
}
.descr_games img{
    width: 200px;
}
.descr_games h1,
.descr_games p{
    color: white;
    margin-top: 20px;
}
.bnt_hero{
    background-color: #cd3d0f;
    color: white;
    margin-top: 15px;
}